* {
    margin: 0;
    padding: 0;

}
:root{
    --bgcolor: #ffffff;
    --text-color: #000000;
    --main-color: #00cf18;
    --second-color: #010434;
    --other-color: #ffffff;
    --second-bg-color: #7ED957;

    --h1-font: 3rem;
    --h2-font: 2.5rem;
    --type-font:2rem;
    --main-font:1.5rem;
    --hero-p-font:1.2rem;
    --p-font: 1rem;
}
body{
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
a,.btn{
    transition: all 300ms ease;
}
nav,.nav-links{
    display: flex;
    background: var(--bgcolor);
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    
}

.nav-links{
    gap: 2.2rem;
    list-style: none;
    font-size: var(--main-font);
    
}
.nav-links a{
    font-size: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
}
.nav-links a:hover{
    color: var(--main-color);
    display:inline-block;
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
    transition: all .5s ease;
}
.logo a{
    font-size: var(--h2-font);
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
}
.logo:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: all .5s ease;
}
.hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bgcolor);
    width: -moz-fit-content;
    width: fit-content ;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;

}
.menu-links li{
    list-style: none;
} 
.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(9px,6px);
    transition: all 0.3 ease;
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg)  translate(9px,-6px);
    transition: all 0.3 ease;
}

.hamburger-icon.open{
    transform: none;
}
.hamburger-icon.open{
    opacity: 1;
}
.hamburger-icon.open{
    transform: none;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: -moz-fit-content;
    min-height: fit-content;
    
}
.section-container{
    display: flex;
    
}

#hero{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section-pic-container{
    display: flex;
    height: 400px;
    width : 400px;
    margin: auto 0;
    filter: drop-shadow(1px 1px 1px var(--second-color));
    
}
.section-pic-container:hover{
    transform: translateY(-4px);
    transition: all .5s ease;
}
.section-text{
    align-self: center;
    text-align: center;
   
    
}
.section-p{
    font-size: var(--hero-p-font);
    font-weight: 600;
    color: var(--main-color);
}
.title{
    font-size: var(--h1-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.auto-type span{
    font-size: var(--type-font);
    font-weight: 600;
    color: var(--main-color);
}
.social-containers{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.icon{
    cursor: pointer;
    height: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-2{
    border: var(--text-color) 0.12rem solid;
    background: var(--bgcolor);
}
.btn-color-2:hover{
    transform: translateY(-2px);
    color: var(--text-color);
    border: var(--main-color) 0.12rem solid;
    filter: drop-shadow(1px 3px 1px var(--main-color));
}
.btn-color-1{
    border: var(--text-color) 0.12rem solid;
    background: var(--second-bg-color);
}
.btn-color-1:hover{
    transform: translateY(-2px);
    background: var(--bgcolor);
    color: var(--text-color);
    border: var(--main-color) 0.12rem solid;
    filter: drop-shadow(1px 3px 1px var(--main-color));
}